@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.contactUs.cshtml";
}
<style>

</style>

<div class="jumbotron" style = "background: linear-gradient(45deg,#dd3d31 0%,#d22f23 100%); margin-bottom: 0rem;">
	<div class="container">
		<center>
		<h1 class="display-3 text-white">Welcome to Superking Markets!</h1>
		<p class = "text-white">Enjoy more international products for a lot less!</p>

		<!-- <button type="button" class="btn btn-raised btn-sm rounded" style = "background: white; color: #dd3d31" asp-controller="Home" asp-action="aboutUs">
			Learn More
		</button> -->

		<a style = "background: white; width: 30%;" class="nav-link text-dark rounded" asp-area="" asp-controller="Home" asp-action="aboutUs">
			<span style = "color: #dd3d31;">About Us</span>
		</a>		
		<!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
		</center>
	</div>
</div>

<!-- 
<div class="container-fluid">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="d-flex flex-column">
        <img src="/img/departments/Produce-image.jpg" class="img-fluid">
        
        <img src="/img/departments/Produce-image.jpg" class="img-fluid">
    </div>
        
    <div class="d-flex flex-column">
        <img src="/img/departments/Produce-image.jpg" class="img-fluid">
        
        <img src="/img/departments/Produce-image.jpg" class="img-fluid scale">
    </div>
    
    <div class="d-flex flex-column">
        <img src="/img/departments/Produce-image.jpg" class="img-fluid scale mb-2">
        <img src="/img/departments/Produce-image.jpg"  class="img-fluid">
    </div>
    
    <div class="d-flex flex-column">
        <img src="/img/departments/Produce-image.jpg" class="img-fluid m-1 p-1">
          <img src="/img/departments/Produce-image.jpg" class="img-fluid image m-1 p-1">
    </div>
  </div>
</div>
-->

<div class="card-columns container" style = "margin-top: 1rem;">
  <div class="card">
    <img class="card-img-top" src="/img/departments/Produce-image.jpg" alt="Card image cap">
  </div>

  <div class="card">
    <img class="card-img-top" src="/img/departments/Meat-image.jpg" alt="Card image cap">
  </div>
  
  <div class="card">
    <img class="card-img" src="/img/departments/Groceries-image.jpg" alt="Card image">
  </div>

  <div class="card">
    <img class="card-img" src="/img/departments/Service-deli-image.jpg" alt="Card image">
  </div>

  <div class="card">
    <img class="card-img" src="/img/departments/Bakery-image.jpg" alt="Card image">
  </div>

  <div class="card">
    <img class="card-img" src="/img/departments/Nuts-image.jpg" alt="Card image">
  </div>

</div>